df-messenger {
  --df-messenger-button-titlebar-color: #6f56df;
  --df-messenger-chat-background-color: #fafafa;
  --df-messenger-send-icon: #6f56df;
  --df-messenger-user-message: #6f56df;
  --df-messenger-bot-message: #5d4c70;
  --df-messenger-font-color: white;
}
